header,
.main-title {
    width: 250px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
    z-index: 2;
    top: 0;
    clip-path: polygon(
        0px 0px,
        350px 0px,
        350px 100%,
        0px 100%
    ); /* Recorta el enlace a partir del pixel 200 en horizontal */
}

.main-title {
    margin-top: -10px;
}

.logo-container {
    z-index: -1;
}
