@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Gluten:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Tektur", "DM Sans", "Gluten", "Roboto", sans-serif;
    font-size: 18px;
    color-scheme: light dark;
    margin: 0 auto;
    /* Variables de Color */
    --color-background: #242424;
    --color-regular: #fffffa;
    --color-links: #5b63fb;
    --color-links-hover: #1520ef;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(#30142b, #2772a1);
    background-attachment: fixed;
}

main {
    flex: 1;
    overflow-y: auto;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

a {
    font-weight: 500;
    color: var(--color-links);
    text-decoration: inherit;
}

a:hover {
    color: var(--color-links-hover);
}

.main-title,
a.main-title:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.h1-hidden {
    display: none;
}

.img-logo {
    width: 100%; /* Para que el SVG ocupe todo el ancho del contenedor a */
    height: 100%; /* Para que el SVG ocupe todo el alto del contenedor a */
    display: block; /* Hacer que la imagen ocupe todo el espacio del enlace a */
    margin: auto; /* Centrar la imagen verticalmente dentro del enlace */
    object-position: center center; /* Centrar el eje horizontal del SVG en el contenedor */
    object-fit: cover;
}

footer {
    display: none;
    left: 0;
    width: 100%;
    padding: 10px;
}


@media (min-width: 700px) {
    body {
        display: grid;
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: 90px calc(100vh - 95px) 50px;
        grid-template-areas: 
            'search titulo  float'
            'menu    main    main'
            'footer footer  footer';
    }
    .user-float {
        grid-area: float;
        width: 40%;
    }
    .search-form {
        grid-area: search;
    }
    .full-menu {
        grid-area: menu;
        height: 100%;
    }
    header {
        grid-area: titulo;
    }
    main {
        grid-area: main;
        height: calc(100vh - 95px);
        /* justify-content: space-between; */
    }
    footer {
        grid-area: footer;
        display: inherit
    }

/* Definidos fuera del GRID
*/

main {
    display: grid;
    grid-template-rows: auto auto; /* Dos filas: h2 y section */
    gap: 20px;
    align-items: center; /* Centrar verticalmente */
}

h2 {
    padding: 10px;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-right: 20px; /* Margen en el lado derecho */
}



}