html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#30142b, #2772a1);
}
/* cuadro login */
.login-form {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 480px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    height: auto;
}
/* input login (, )*/
.form input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

/* Create an account */
.form .message a {
    color: #289bb8;
    text-decoration: none;
    margin-bottom: 20px;
    display: block; /* Add this line to make the link a block element */
    margin-top: 20px; /* Add margin at the top of the link */
}

.footer-login {
    background-color: red;
}
/***** Estilos para dispositivos móviles *****/
@media only screen and (max-width: 480px) {
    .login-form {
        width: 90%;
        max-width: 480px;
        position: absolute;
        text-align: center;

        /*
        padding: 8% 20px 0;
        max-width: 100%;
        margin: auto;
        */
    }

    .form input {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 481px) {
    /* Agrega aquí los estilos específicos para dispositivos móviles con 780px o menos */

    .login-form {
        width: 440px;
        padding: 8% 20px 0; /* Ajusta el padding superior e inferior para dispositivos móviles */
        max-width: 780px;
        margin: auto;
    }

    .form input {
        font-size: 16px;
        margin-bottom: 15px; /* Ajusta el margen inferior para dispositivos móviles */
    }
}

/* Estilos para pantallas más grandes */
@media only screen and (min-width: 781px) {
    .login-form {
        max-width: 480px; /* Establece un ancho máximo para evitar desplazamientos en pantallas grandes */
        margin: auto; /* Centra el formulario horizontalmente */
    }
}
