article,
.comment-section {
    border: 1px solid rgb(110, 36, 145);
    border-radius: 1rem;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-height: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.preview-post {
    width: 275px;
    height: 320px;
    flex: 1 1 auto;
    max-width: 350px;
    margin: 0 20px 25px;
}

.link-to-user {
    text-decoration: none;
    color: inherit;
}

.user-detail {
    display: flex;
    align-items: center;
}

.user-avatar,
.comment-avatar {
    width: 20px;
    height: 20px;
    object-fit: contain;
    padding-left: 5px;
}

.user-avatar img,
.comment-avatar img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    padding-left: 5px;
}

.user-name {
    font-size: 0.7rem;
    padding-left: 5px;
}

.user-interaction {
    display: flex;
    align-items: center;
    font-size: 0.5rem;
}

.post-content {
    flex: 0 0 35%; /* 35% del ancho, pero no crecerá ni se encogerá */
    max-width: 35%;
}

.post-created-full {
    text-align: end;
}

.link-to-post {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: inherit;
}

.post-images > .img-preview {
    width: 80%;
    height: 80%;
    max-width: 125px;
    max-height: 125px;
    object-fit: contain;
}

.post-text {
    margin-left: 2px;
    flex: 1;
}

.post-title {
    padding: 0.3rem 0;
    font-size: 0.8rem;
    color: rgb(2, 106, 190);
}

.post-entradilla {
    font-size: 0.7rem;
}

.post-comments {
    font-size: 0.6rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 0.3rem;
}

.post-comments-full {
    margin: 10px 27px 0;
}

.buble {
    background-color: #4a4949;
    max-width: 90%;
    word-wrap: break-word;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
    margin-left: 10px;
}

.comment-user {
    margin: 0;
    padding: 0;
    text-align: left;
}

.comment-text {
    margin: 0;
    padding: 0;
    text-align: left;
    width: auto;
}

.no-comment-list {
    font-size: 0.6rem;
    margin: 0 auto;
    padding: 0.4rem;
}

/* @media (max-width: 700px) {
    .preview-post {
        margin: 0 auto;
        margin-bottom: 20px;
    }
} */
