.post-comments-full {
    margin-top: 20px;
  }
  
  .comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .buble-full {
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 8px;
  }
  
  .comment-user {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .comment-text {
    margin: 0;
  }
  
  /* Estilos para el botón de mostrar/ocultar comentarios */
  .comment-toggle-button {
    background-color: #289bb8;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .comment-toggle-button:hover {
    background-color: #1d7c94;
  }
  
  .comment-toggle-button:focus {
    outline: none;
  }
  
  /* Estilos para el formulario de comentarios (si se muestran) */
  .comment-form {
    /* display: ${showCommentForm ? 'block' : 'none'}; */
    margin-top: 20px;
  }
  
  .comment-form textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0; /* Color de fondo similar al formulario de Login/Register */
  }
  
  .comment-form button {
    background-color: #289bb8;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .comment-form button:hover {
    background-color: #1d7c94;
  }
  
  .comment-form button:focus {
    outline: none;
  }