.unique-post-page {
    height: 100%;
    margin: 25px;
}

.link-to-user,
.link-to-user-comment {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.user-detail-full {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.user-avatar-full,
.comment-avatar {
    max-width: 40px;
    max-height: 40px;
    object-fit: contain;
    padding-left: 5px;
}

.user-name-full {
    padding-left: 5px;
}

.user-interaction-full {
    display: flex;
    align-items: center;
}

.post-title-full {
    color: rgb(141, 141, 231);
    font-size: 1.5rem;
}

.post-text-full,
.post-content-full,
.post-date-full,
.tags-full {
    width: 100%;
    padding: 5px 0;
}

.post-content-full,
.post-images-full {
    display: flex;
    justify-content: center;
}

.post-entradilla-full {
    color: rgb(162, 75, 148);
    font-size: 1.2rem;
}

.post-description-full {
    font-size: 1.1rem;
    font-weight: bolder;
}

.post-images-full > img {
    flex: 1;
    max-width: 100%;
}

.post-date-full,
.post-created-full {
    text-align: right;
    font-size: 0.4rem;
}

.tags-full {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tags-cat,
.tags-plat {
    text-align: center;
    font-size: 0.6rem;
}

.section-editpost {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.btn-editpost {
    padding: 10px;
    background-color: rgb(110, 36, 145);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    bottom: 5px;
    right: 5px;
}

.separador {
    width: 80%;
    border-bottom: 2px solid black;
    margin: 0 auto;
    margin-top: -25px;
}

.post-comments-full {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    margin-top: 5px;
}

.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.buble-full {
    background-color: #4a4949;
    max-width: 100%;
    word-wrap: break-word;
    padding: 5px;
    border-radius: 8px;
    text-align: left;
    margin-left: 10px;
}

.comment-user {
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
    color: aliceblue;
}

.comment-text {
    margin: 0;
    padding: 0;
    text-align: left;
    color: white;
}

.contain-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Estilo opcional para agregar margen entre el formulario y los elementos hermanos */
.contain-form > * + * {
    margin-top: 20px;
}

/* Estilos para el botón de mostrar/ocultar comentarios */
.comment-toggle-button {
    background-color: #289bb8;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.comment-toggle-button:hover {
    background-color: #1d7c94;
}

.comment-toggle-button:focus {
    outline: none;
}

.comment-form textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0; /* Color de fondo similar al formulario de Login/Register */
}

.comment-form button {
    background-color: #289bb8;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.comment-form button:hover {
    background-color: #1d7c94;
}

.comment-form button:focus {
    outline: none;
}

@media (min-width: 700px) {
    .unique-post-page {
        width: 80%;
        height: 100%;
    }
}
