.user-panel {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    margin: 5px 20px 20px 20px;
    height: 200px;
}

.user-id {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-user-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-left: 10px;
}

.panel-username {
    font-size: 0.8rem;
    font-weight: bold;
}

.user-rank {
    font-size: 0.6rem;
    margin-bottom: 0;
}

.panel-role {
    font-size: 0.4rem;
}

.user-avatar-full {
    max-width: 40px;
    max-height: 40px;
    object-fit: contain;
    padding-left: 5px;
}

.full-avatar {
    width: 40px;
    height: 40px;
}

p {
    color: white;
    margin: 5px 0;
}

.panel-bio-title,
.panel-country-title {
    font-size: 0.7rem;
    text-align: center;
}

.panel-bio,
.panel-country {
    font-size: 0.5rem;
    text-align: left;
    margin-left: 3px;
}

.btn-edit {
    position: absolute;
    padding: 10px;
    background-color: rgb(110, 36, 145);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    bottom: 5px;
    right: 5px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px; /* Espacio entre los párrafos y el botón */
}

.panel-user-detail > p {
    margin-bottom: 10px;
}

.p-aviso-post {
    font-size: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

@media (min-width: 700px) {
    .user-panel {
        width: 500px;
    }
}
