aside {
    border: 1px solid rgb(110, 36, 145);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    padding: 15px;
    margin: 5px;
    height: 25px;
    width: 40%;
    max-width: 250px;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 99;
}

.link-to-user-float {
    color: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.link-to-user-float > .user-avatar {
    width: 20px;
    height: 20px;
}

.user-name-float {
    padding-left: 5px;
    font-size: 0.5rem;
}

.float-btn {
    margin-left: auto;
    padding: 5px;
    color: white;
}