article {
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(110, 36, 145);
    border-radius: 1rem;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.8);
    

    /* display: flex;
    align-items: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 48%;
    object-fit: contain;
}
.user-interaction {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.post-text {
    flex-grow: 1;
    border: 1px solid green;
    width: 60%;
}

.post-comments,
.post-created {
    align-self: center;
    margin-top: auto;
}

.post-content {
    border: 1px solid red;
    min-width: 0%;
    max-width: 40%;
}

.post-text {
    max-width: 100%;
}

.post-title {
    font-size: 1rem;
    color: rgb(2, 106, 190);
}
.post-entradilla {
    font-size: 0.7rem;
}
.post-comments {
    font-size: 0.6rem;
    margin: 0 auto;
}
.post-created {
    font-size: 0.5rem;
    display: flex;
    margin: 0 auto;
}

.user-avatar {
    width: 20px;
    height: 20px;
    object-fit: contain;
    padding-left: 5px;
}

.user-avatar img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    padding-left: 5px;
}

.user-name {
    font-size: 0.7rem;
    padding-left: 5px;
}

/* 
    .user-interaction > div {
    width: 70%;
    }

    .user-interaction > div:last-child {
    width: 30%;
    }

    .post-content,
    .post-comments {
    margin-top: 20px;
    } */