nav {
  background-color: #f2f2f2;
  padding: 1px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Alinea los elementos al centro */
  z-index: 999;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav form {
  display: flex;
  align-items: center;
}

nav form input[type="text"] {
  height: 20px;
}

nav form button[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  height: 15px;
}

.search-button {
  width: 25px;
  height: 25px;
  object-fit: contain;
  padding-left: 5px;
}