nav {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Alinea los elementos al centro */
  z-index: 999;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Utiliza flexbox para alinear los elementos */
}

nav ul li {
  margin-left: 10px; /* En lugar de margin-right, utiliza margin-left para separar los elementos */
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav form {
  display: flex;
  align-items: center; /* Alinea verticalmente el formulario y el campo de búsqueda */
  margin-left: auto; /* Empuja el formulario hacia la derecha */
}

nav form input[type="text"] {
  height: 30px; /* Ajusta la altura del campo de búsqueda según tus necesidades */
}
